   
    <div class="pr-header row d-flex mx-5 mt-4">
        <div class="pr-logo mr-auto ml-4"><img src="assets/images/logo.png" width="137px" alt="Logo Maison1">
        </div>
        <div class="pr-menu d-flex justify-content-center">
            <div class="pr-menu-item">
                LE PROGRAMME
            </div>
            <div class="pr-menu-item">
                CALENDRIER
            </div>
            <div class="pr-menu-item">
                RESSOURCES
            </div>
            <div class="pr-menu-item">
                NOUS RÉJOINDRE
            </div>
        </div>
    </div>