/**
 * Set up a decent box model on the root element
 */

 /*   section {
        border: 4px solid blue;
    }
    
    div {
       border: 1px solid black;
    }*/



html {
    box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
::before,
::after {
    box-sizing: inherit;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /*        padding-left: 55px;
        padding-right: 55px;
*/
    padding-bottom: 55px;

}

.pr-header {
    /*    	        margin-top:70px;
*/
}

.pr-menu {
    margin-right: 100px;
}

.pr-menu-item {
    padding: 5px;
    margin-right: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;

}



.pr-description .pr-title {
    font-size: 30px;
    font-weight: 500;

}

.pr-description .pr-subtitle {
    font-size: 15px;
    font-weight: 300;

}


.pr-middle .pr-title {
    font-size: 20px;
    font-weight: 500;

}






/*.nav-pills .nav-link {
	    background-color: green;

	    border: 1px solid black;
	    color:black;
}
*/





.pr-folders-container {

    background-color: #FFDF00;
}

.pr-middle .pr-folders-container .pr-title {

    font-size: 25px;

}

.pr-folderbox {

    background: #FFFEF6;
    box-shadow: 0 7px 17px 1px rgba(0,0,0,0.05);
    border-radius: 4px;



    //background-color: #fff;
    margin: 5px;
    padding: 10px;
    font-weight: 500px;
    font-size: 14px;

    width: 217px;
    height: 72px;


    background-image: url('../images/lock.png');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 190px 40px;
}

.pr-folderboxes a:first-child .pr-folderbox {
    margin-left: 0;
}

.pr-folderboxes a {
    color: #000000;
    text-decoration: none;

    .pr-folderbox span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 21px;        /* fallback */
        max-height: 2*21px;       /* fallback */
    }

    &:hover {
        color: #000000;
        text-decoration: none;

        .pr-folderbox {
            background-color: white;
            box-shadow: 0 7px 17px 1px rgba(0,0,0,0.15);
        }
    }

}

.pr-tab-title:first-child .pr-title {
    margin-top: 0 !important;
}

.pr-yellow-line-long {
    border: 3px solid #FFDF00;
    width: 350px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    text-align: left;
    margin-left: 0;

}


.pr-yellow-line-short {
    border: 3px solid #FFDF00;
    width: 150px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    text-align: left;
    margin-left: 0;

}

.pr-middle .pr-title {
    font-weight: 400;
    font-size: 30px;
}


.pr-bottom .pr-title {
    font-weight: 400;
    font-size: 30px;

}


.pr-black-line-short {
    border: 3px solid #000;
    width: 75px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    text-align: left;
    margin-left: 0;

}

/*.pr-image img {
	max-width: 100%;
    height: auto;
    width: auto;
}*/


.pr-options {
    padding: 0px;
}

.pr-options .pr-option {

    height: 145px;
    width: 273px;
    padding: 20px;
    /*margin: 10px;*/
    background-color: #FFDF00;


    font-weight: 500;
    font-size: 24px;
    margin-left:-15px;
    margin-right:-15px;


    /*text-align:center;*/
    /*vertical-align: middle;*/


}


a.pr-option {
	color:black;
}

a.pr-option:hover {
	    border: 2px solid black;
	    color:black;
	    background-color: #FFDF00;


}


a.pr-option.active  {
		background-color: #FFDF00 !important; 
	    border: 2px solid black !important;
	    color:black !important;

}

.pr-widgetbox  img {
	max-width: 100%;
    height: auto;
    width: auto;


}


/*.pr-widgetbox {
    width: 390px;
    height: 290px;
    padding:0px;
}

*/



/*.pr-widgetboxes:last-child:hover {
	margin-left:10px !important;
}

a.pr-widgetbox:hover {

	background-color:white !important;

}

a.pr-widgetbox.active {
		background-color:red !important;

}
*/

.pr-widgetbox-text {
    background-color: #FFDF00;
    height: 60px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
}

.nav-pills.pr-widgetboxes .nav-link.active, .nav-pills .show>.nav-link {
	 background-color:white !important;
	 color:black;
	 border: 2px solid black !important;


}


.pr-widgetbox {
	margin:-10px !important;
}

.pr-widgetbox:first-child {
	margin-right:10px !important;
}

.pr-widgetbox:last-child {
	margin-left:10px !important;
}

.pr-hide {
	display:none;
}

.pr-menu a {
  color: #000000;
  line-height: 28px;

  &:hover {
    color: #000000;
    background-color: #FFDF00;
    text-decoration: none;
  }
}