<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
{% include head.html %}

<body>
	
    <main class="main" aria-label="Content">
        {% include header.html %}
        <section class="pr-top container p-0 mt-5">
            <div class="pr-description row p-0">
                <div class="pr-topleft col-6">
                    <div class="pr-title" id="programme">MA1SON,</br>
                        un programme d’animation et de</br> formation en résidences étudiantes.
                    </div>
                    <hr class="pr-yellow-line-long mt-4 mb-4">
                    <div class="pr-subtitle">Sur ce site, nous avons rassemblé pour vous, porteur.euse.s de projet MA1SON, toutes les ressources utiles, outils, contenus et bonnes pratiques pour déployer votre projet MA1SON en autonomie.
                    </div>
                </div>
                <div class="pr-image col-6 mr-0">
                    <img src="assets/images/residents_01.png" alt="residents photo">

                </div>
            </div>
        </section>
        <section class="pr-middle container mt-5">
            <div class="pr-middle-row row">
                <div class="pr-title col-12 pl-0" id="ressources">Lancer ma résidence</div>
                <hr class="pr-yellow-line-short mt-1 mb-3">
            </div>


            <div class="nav nav-pills pr-options m-0 d-flex justify-content-between"
                 role="tablist" aria-orientation="vertical">

                {% for item in site.data.lancer.lancer %}
                <a class="pr-option rounded d-flex my-3 nav-link d-block"
                   id="pr-line1-tab{{ forloop.index }}_link" aria-controls="pr-line1-tab{{ forloop.index }}" href="#pr-line1-tab{{ forloop.index }}"
                   role="tab" data-toggle="pill" aria-selected="true">
                    <div class="text-center align-self-center">{{ item.title }}</div>
                </a>
                {% endfor %}
            </div>

            <div class="tab-content">
                {% for item in site.data.lancer.lancer %}
                <div class="tab-pane fade pr-folders-container row rounded p-4" role="tabpanel"
                     id="pr-line1-tab{{ forloop.index }}" aria-labelledby="pr-line1-tab{{ forloop.index }}">
                    {% for category in item.subfolderitems %}
                    <div class="pr-tab-title col-12 p-0">
                        <div class="pr-title mt-3 pl-0">{{ category.title }}</div>
                        <hr class="pr-black-line-short mt-1 mb-3 pl-0">
                    </div>
                    <div class="pr-folderboxes p-0 col-12 mx-auto row">
                        {% for entry in category.subfolderitems %}
                        <a href="{{ entry.url }}" target="_blank">
                            <div class="pr-folderbox rounded">
                                <span>{{ entry.page }}</span>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="col-12 p-0">
                <div class="pr-title pl-0 mt-5">Animer ma résidence</div>
                <hr class="pr-yellow-line-short mt-1 mb-3 pl-0">

                <div class="nav nav-pills pr-widgetboxes d-flex justify-content-between" role="tablist" aria-orientation="vertical">

                    <div class="pr-widgetbox rounded p-0 col-4 nav-link d-block" id="pr-line2-tab1_link" aria-controls="pr-line2-tab1" href="#pr-line2-tab1"
                   role="tab" data-toggle="pill" aria-selected="true">
                        <div class="pr-widgetbox-img"><img src="assets/images/widget_photo_01.png" alt="residents photo"></div>
                        <div class="pr-widgetbox-text">VIVRE</div>
                    </div>
                    <div class="pr-widgetbox rounded p-0 col-4 nav-link d-block" id="pr-line1-tab2_link" aria-controls="pr-line2-tab2" href="#pr-line2-tab2"
                   role="tab" data-toggle="pill" aria-selected="true">
                        <div class="pr-widgetbox-img"><img src="assets/images/widget_photo_02.png" alt="residents photo"></div>
                        <div class="pr-widgetbox-text">AGIR</div>
                    </div>
                    <div class="pr-widgetbox rounded p-0 col-4 nav-link d-block" id="pr-line2-tab3_link" aria-controls="pr-line2-tab3" href="#pr-line2-tab3"
                   role="tab" data-toggle="pill" aria-selected="true">
                        <div class="pr-widgetbox-img"><img src="assets/images/widget_photo_03.png" alt="residents photo"></div>
                        <div class="pr-widgetbox-text">APPRENDRE</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include js.html %}
</body>

</html>